@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
/* font-family: 'Comic Neue', cursive; */

* {
    margin: 0;
    padding: 0;
}

.wrapper { 
    width: 100%;
    margin: auto;
}

/* header */
.header {
    background-color: #c74710;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: white;
    font-size: 1.3em;
    font-family: 'Comic Neue', cursive;
    align-items: center;
    margin-left: 1em;
}

.header ul {
    display: flex;
    gap: 1em;
    margin-right: 1em;
}

.header ul li {
    display: inline-block;
}

.header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.header a:hover {
    color: blue;
    text-decoration: underline;
}








/* footer */
.footer {
    background-color: #c74710;
    border-top: 4px solid #999;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    font-family: 'Comic Neue', cursive;
    color: white;
}

.footer_left {
    flex-basis: 60%;
    margin-left: 1.3em;
}

.footer_right {
    flex-basis: 40%;
}

.footer_left h1 {
    font-size: 1.3em;
}

.footer_left p {
    font-size: .8em;
}

.footer_right a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.footer_right a:hover {
    color: blue;
    text-decoration: underline;
}

